# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
reports/

# Node & Portal Build
portal/node_modules/
portal/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & Logs
*.db
*.db-journal
*.log

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
